%h1 Lotto Simulator

= form_for @ticket, :url => tickets_path  do |f|
  = f.error_messages :header_message => "You have submitted an invalid ticket!"

  %h3 Choose 6 numbers below

  %ul#number_table
    - (1..55).each do |x|
      %li{ :id => "cell#{x}" }
        = check_box_tag "ticket[numbers][]", x, @ticket.include?(x), :id => "ticket_numbers_#{x}"
        = f.label :numbers, x, :value => x

  %p
    = f.label :attempts, "Play these numbers"
    = f.select :attempts, Ticket::AttemptsDropdown
  %p
    = f.label :size, "Play the "
    = f.select :size, Ticket::SizeDropdown

  %p
    = f.submit "Play Lotto"

- if @lotto
  = render :partial => "results", :locals => { :ticket => @ticket, :lotto => @lotto }

#summary 
  %p
    = "As of now, players have won a total of #{number_to_currency @winnings}."
    %br
    = "They have also spent #{number_to_currency @loss} for a net #{number_to_currency(@winnings - @loss)}"

%p#copyright
  Copyright &copy;2010 <a href="http://www.bryanbibat.net">Bryan Bibat</a>
  
